
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
:root {
    --blue-intro: hsl(217, 28%, 15%);
    --blue-main: hsl(218, 28%, 13%);
    --blue-footer: hsl(216, 53%, 9%);
    --blue-testimonials: hsl(219, 30%, 18%);
    --white: hsl(0, 0%, 100%);
    --cyan-gradient: hsl(176, 68%, 64%);
    --blue-gradient: #339ecc;
    --light-red: hsl(0, 100%, 63%);
    --gradient: linear-gradient(to right, var(--cyan-gradient), var(--blue-gradient));
   
    --padding-container: 60px 0;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

/* body{
   
} */
/*========================================================*/
.menu{
    display: block;
}
.menu a{
    text-decoration: none;
    font-size: 1.4rem;
    padding: 8px;
    border-radius: 8px;
    color: var(--cyan-gradient);
}
.menu a:hover{
    text-decoration: none;
    color: var(--blue-main);
    background-color: #339ecc42;
    border: 1px var(--cyan-gradient);
}
nav{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
    background-color: hsla(217, 27%, 13%);
    border-bottom: 1px solid var(--cyan-gradient);
}
.nav-left{
    display: flex;
}
.nav-right{
    display: none;
}
.nav-center{
    display: none;
}
.nav-left ul{
    margin-left: 12px;
}
.nav-left ul,
.nav-right ul,
.nav-center ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 60px;
    display: flex;
    align-items: center;
}
.nav-left ul li a,
.nav-right ul li a,
.nav-center ul li a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    color: var(--blue-main);
    
}
.nav-left ul li a:hover,
.nav-right ul li a:hover,
.nav-center ul li a:hover{
    text-decoration: none;
    color: var(--blue-main);
    background-color: #339ecc42;
    /* box-shadow: 0 1px 1px #339ecc; */
    /* border: 1px var(--cyan-gradient); */
}
.logo{
    width: 90px;
    /* padding-left: 20px; */
    
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 700px;
    text-align: center;
    background-image: url('/images/planta.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-tittle-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 500px;
    margin-top: 0px;
    text-align: center;
    align-self: center;
}
.header-tittle-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: black;
}
.header-tittle-container p{
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.header-tittle-container .header-boton{
    position: absolute;
    top: 285px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 250px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: #339ecca2;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.623);
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.header-boton span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('/images/icon-arrow.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: center;
}
section{
}
main .container{
    width: auto;
    height: 750px;
    background-image: url('/images/eyf-ongrid.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}
.container .background-img{
    width: auto;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-container h2{
    margin-top: 50px;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 2.6rem;
}
.text-container p{
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.botton-container{
    display: flex;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: center;

}
.botton-container ul{
    list-style: none;    
    height: auto;
}
.botton-container ul li{
    background-color: #339ecc;
    
}
.botton-container ul li a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--blue-main);
}
/*=============================================================*/

footer{
    height: 50px;
    width: 100%;
    display: flex;
    background-color: hsla(215, 52%, 9%, 0.137);
    color: #fff;
    justify-content: center;
}
footer ul li a,
footer ul li a,
footer ul li a{
    text-decoration: none;
    font-size: 12px;
    padding: 4px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    color: var(--cyan-gradient);
}
footer ul,
footer ul,
footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    /* height: 60px; */
    display: flex;
    align-items: center;
}
footer ul li a:hover,
footer ul li a:hover,
footer ul li a:hover{
    text-decoration: none;
    color: var(--blue-main);
    background-color: hsla(176, 68%, 64%, 0.199);
    /* border: 1px var(--cyan-gradient); */
}



/* .attribution{
} */

/* @media (max-width: 900px){
    .menu{
        display: block;
    }
    .menu a{
        text-decoration: none;
        font-size: 1.4rem;
        padding: 8px;
        border-radius: 8px;
        color: var(--cyan-gradient);
    }
    .menu a:hover{
        text-decoration: none;
        color: var(--blue-main);
        background-color: #339ecc42;
        border: 1px var(--cyan-gradient);
    }
    .nav-center{
        display: none;
    }
    .nav-right{
        display: none;
    }

    footer{
        display: flex;
        position: absolute;
        flex-wrap: wrap;
    }
} */