<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Henny+Penny&family=Jockey+One&family=Lakki+Reddy&family=Leckerli+One&family=Manrope:wght@600&family=Monda:wght@400;700&family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,400;1,100&family=Righteous&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark navbar-bg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Servicios</a>
        </li>
                <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Proyectos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contáctanos</a>
          </li>
        <li class="nav-item">
          <a class="nav-link disabled">Blog</a>
        </li>
      </ul>
<!--
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>-->
    </div>
    <img src="./assets/imagenes_navbar/logoBlanco-recortado.png" class="logo-blanco" alt="Imagen logo blanco">  
    <a class="navbar-brand" href="#"></a>
  </div>
</nav>