<section id="home" class="contenedor-fluid-lg home">
    <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #a47c03f1;"></path></svg> 
    </div>
   <div class="textos-header">
    <app-navbar></app-navbar>
       <h1>NUESTRA HISTORIA</h1>
    </div>
    <div class="historia">
        <p class="parrafo-historia">El ahorro o eficiencia energética consiste en utilizar la
            energía de mejor manera. Es decir, con la misma
            cantidad de energía o con menos, obtener los mismos
            resultados. Esto se puede lograr a través del cambio
            de hábitos, del uso tecnologías más eficientes, o una
            combinación de ambos.</p>
    </div>
</section>
