<section id="home" class="contenedor-fluid-lg home">
    <app-navbar></app-navbar>
    <div class="foco" style="overflow: hidden;" >
        <img src="./assets/imagenes_navbar/foco2.webp">
    </div>
   <div class="textos-header">
       <h1>Ahorra hasta el</h1>
       <h1 class="cien-por-ciento">  100%</h1>
       <h1>de tu planilla de energía</h1>
    </div>
    <div class="mas-info">
        <br>
        <input type="email" class="ingresar-mail" placeholder="Ingrese su mail">
        <div class="btn">
            <button type="button" class="btn btn-info btn-lg btn-block text-white-bolder">Quiero más información</button>
        </div>
        
    </div>
</section>
